.dropdownContainer {
  overflow: visible;
  .playlistInfo {
    display: grid;
    grid-template-columns: 11% 34% 43% 14%;
    font-size: 15px;
    border-bottom: 1px solid #2d2d2d;
    margin: 0 25px;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
    .clock {
      font-size: 20px;
    }
  }
  .playlistInfo > * {
    margin-bottom: 7px;
  }
}
@media only screen and (max-width: 900px) {
  .dropdownContainer {
    .playlistInfo {
      grid-template-columns: 28% 45% 3% 10%;
      .album {
        visibility: hidden;
        width: 0;
      }
    }
  }
}
