.sidebarMenuContainer {
  background-color: black;
  width: 15%;
  grid-area: sidebar;
  height: 100vh;
  position: fixed;
  .homePage {
    display: flex;
    margin: 20px 1rem;
    align-items: center;
    .spotifyLogo {
      width: 50px;
    }
    .spotifyText {
      color: white;
      font-size: 25px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
    }
  }
  .optionsList {
    font-family: 'Open Sans', sans-serif;
    color: white;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    margin: 50px 1rem;
    padding: 0;
    .listOption {
      display: flex;
      align-items: center;
      margin: 15px 0;
      cursor: pointer;
      .listOptionText {
        font-size: 0.875rem;
        font-weight: 600;
      }
    }
    .icon {
      font-size: 35px;
      margin: 10px
    }
  }
}
@media only screen and (max-width: 1100px) {
  .sidebarMenuContainer {
    width: 67px;
    .homePage {
      justify-content: center;
      .spotifyText {
        display: none;
      }
    }
    .listOption {
      justify-content: center;
      .listOptionText {
        display: none;
      }
    }

  }
}
