.playlist {
  width: 90%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  margin: 20px;
  .playlistData {
    display: flex;
    align-items: center;
    width: 90%;
    .playlistPhoto {
      width: 70px;
      height: 70px;
      margin: 10px;
      border-radius: 6px;
    }
    .playlistName {
      font-size: 22px;
      margin: 20px;
    }
  }
  .arrowDown {
    margin: 0 20px;
    font-size: 35px;
  }
}
