@keyframes skeletonLoading {
  0% {
    background-position: 200% 0
  }

  to {
    background-position: -200% 0
  }
}
.skeleton {
  opacity: 1;
  background: linear-gradient(270deg,#111111, #3d3d3d,#3d3d3d,#111111);
  background-size: 400% 100%;
  animation: skeletonLoading 6s linear infinite;
}
.skeletonText {
  width: 80%;
  height: 15px;
  margin: 5px 0;
  border-radius: 12px;
}
.skeletonPlaylistSongText {
  width: 100px;
  height: 10px;
  margin: 15px 0 24px 0;
  border-radius: 12px;
}
.skeletonPlaylistArtistNameText {
  width: 70px;
  height: 10px;
  border-radius: 12px;
  margin: 15px 0 0;
}
.skeletonPlaylistAlbumNameText {
  width: 170px;
  height: 10px;
  border-radius: 12px;
}
.skeletonAlbumText {
  width: 15%;
  height: 15px;
  margin: 5px 20px;
  border-radius: 12px;
}
.skeletonTrackText {
   width: 20vw;
   min-width: 20vh;
   height: 4vw;
   min-height: 5vh;
   margin-bottom: 20px;
   border-radius: 15px;
 }
.skeletonArtist {
  width: 50%;
  height: 15px;
  margin: 0 0 20px;
  border-radius: 12px;
}
.skeletonSmallText {
  width: 5vh;
  height: 15px;
  margin: 0 5px;
  border-radius: 12px;
}

.skeletonLyricsText {
  height: 10px;
  margin: 15px 0;
  border-radius: 12px;
}

