.songActions {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    .playIcon {
        font-size: 70px;
        transition: 0.2s;
        cursor: pointer;
    }
    .playIcon:hover {
        transform: scale(1.1);
        transition: 0.2s;
    }
    .likeIcon {
        font-size: 40px;
        color: #cecece;
        cursor: pointer;
    }
    .likeIcon:hover {
        color: #ffffff;
    }
}
.lyricsContainer {
    display: flex;
    .lyrics {
        height: 100%;
        color: rgba(255, 255, 255, 0.8);
        width: 30%;
        font-size: 16px;
        margin: 0 35px;

        .text {
            font-size: 35px;
            color: white;
        }
    }
}
