.layout {
  color: white;
  font-size: 30px;
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: auto;
  grid-template-areas: "sidebar main";
  font-family: 'Kanit', sans-serif;
  .artist {
    grid-area: main;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    .artistBackgroundImage {
      width: 70%;
      height: 640px;
      position: absolute;
    }
    .background {
      background-color: rgba(0, 0, 0, 0.2);
      width: 100%;
      min-height: 65vh;
      margin-top: 30px;
      padding-bottom: 15vh;
      .playIcon {
        font-size: 70px;
        transition: 0.2s;
        cursor: pointer;
        margin: 10px 0 0 20px;
      }
      .playIcon:hover {
        transform: scale(1.1);
        transition: 0.2s;
      }
      .sectionText {
        font-size: 35px;
        color: white;
        padding: 40px 35px 0;
        display: flex;
        justify-content: flex-start;
      }
      .recommendedArtists {
        margin: 5px 15px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
      }
    }
  }
}
@media only screen and (max-width: 1100px) {
  .layout {
    display: grid;
    grid-template-columns: 67px;
  }
}
