.sectionText {
  font-size: 35px;
  color: white;
  padding: 40px 35px 0;
  display: flex;
  justify-content: flex-start;
}
.popularSongs {
  margin: 5px 15px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
}
.popularAlbums {
  margin: 5px 15px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
}
